.container
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 100vh
  > p
    color #333
    font-weight 800
    font-size 50px
    letter-spacing 3px
    position relative
    &:after
      position absolute
      bottom 10px
      left -10px
      right -10px
      height 20px
      background rgba(0,0,0,.15)
      content ""
      z-index -1

.actions
  display flex
  align-items center


@media only screen and (max-width: 640px)
  .container
    > p
      font-size 40px
      &:after
        bottom 7px
        height 15px
