@import './base/Button.styl'

$color = #53ce58

.button
  @extend .base--button

  background $color
  a
    color #fff

  // on hover
  &:hover
    background #fff
    border-color $color
    a
      color $color
